@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700;800;900&display=swap');
body{
  font-family: 'Onest', sans-serif;
  overflow-x:hidden;

}
.header{
  background:url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
}
.cards li:first-child{
  margin-top:0
}
.cards li{
  margin-top:1rem
}

